<h1>All restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant)%> : <%=restaurant.category.capitalize%> </li>
    </li>
  <% end %>
</ul>